.ant-tabs-nav {
  margin: 1rem;
  border-radius: 3.2rem;
  background: #fff;
  box-shadow: 0rem 0rem 0.6rem 0.1rem #d1cbcb;
  padding: 0.2rem;
  .ant-tabs-tab:last-child {
    margin-right: 0.3rem !important;
  }
  .ant-tabs-tab {
    margin: 0.3rem;
    padding: 0.5rem 2rem;
    &:hover,&:active,&:focus {
      color: currentColor;
    }
    transition: none;
  }
  .ant-tabs-tab-active {
    background: var(--theme-primary-color);
    color: #fff;
    border-radius: 3rem;
    &:hover {
      color: #fff;
    }
  }
  .ant-tabs-ink-bar {
    display: none !important;
  }
}

