@import url('https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap');


:root {
  --logo-font-family: 'Saira Stencil One', sans-serif;
  --bg-primary-color: #efefef;
  --text-secondary-color: #a19797;
  --text-black-color: #000000;
  --text-white-color: #ffff;
  --box-shadow-color: #a19797;
  --theme-primary-color: rgb(255 90 1);
  --theme-gradient-primary-color: linear-gradient(
    70deg,
    rgb(255, 90, 1) 53%,
    rgb(255 75 0) 61%
  );
  --primary-transparent-color: rgb(255 90 1 / 93%);
  --layout-header-height: 6.3rem;
}
.logo-font-family {
  font-family: var(--logo-font-family);
  font-size: 2.5rem;
  color: var(--text-secondary-color);
  font-weight: 400;
}
.title {
  color: var(--text-secondary-color);
  position: relative;
}
.title .text-line {
  width: 0.12rem;
  background-color: var(--text-secondary-color);
  height: 90%;
  display: flex;
  justify-content: center;
}
.title .text-line .text {
  background: var(--bg-primary-color);
  transform: rotate(-90deg);
  width: max-content;
  text-transform: uppercase;
  position: absolute;
  top: 6.8rem;
  left: -4.2rem;
  padding: 0 1rem;
}

.title-h {
  color: var(--text-secondary-color);
  position: relative;
}
.title-h .text-line {
  width: 100%;
  background-color: var(--text-secondary-color);
  height: 0.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title-h .text-line .text {
  background: var(--bg-primary-color);
  width: max-content;
  text-transform: uppercase;
  position: absolute;
  top: -1.5rem;
  padding: 0 1rem;
}

.fit-width {
  max-width: fit-content;
}

.pt-7 {
  padding-top: 7rem;
}

.description {
  padding: 2rem;
  text-align: center;
  margin: 0 auto;
}
.description h1 {
  text-transform: capitalize;
  color: var(--text-black-color);
  margin-bottom: 3rem;
}
.description p {
  padding-left: 1rem;
  margin: 1rem;
}

/* Responsive */
@media screen and (max-width: 768px) {
  .col-5,
  .col,
  .col-6 {
    width: 100% !important;
    text-align: center;
  }

  .title {
    position: absolute;
  }
  .title .text-line {
    width: 100%;
    height: 0.1rem;
    align-items: center;
  }
  .title .text-line .text {
    transform: none;
    top: -1.5rem;
    left: auto;
  }

  .poster-wrapper {
    display: none;
  }

  .contact-info .contact .message-box .box {
    margin-top: 6rem !important;
  }
}

/* @media screen and (max-width: 1024px) {
  html {
    font-size: 6px !important;
  }
} */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: var(--theme-primary-color) var(--bg-primary-color);
}

/* Chrome, Edge, Safari */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: var(--bg-primary-color);
  border-radius: 1rem;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: linear-gradient(
    180deg,
    var(--theme-primary-color),
    var(--theme-gradient-primary-color)
  );
  border-radius: 1rem;
  transition: background 0.3s ease;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(
    180deg,
    var(--theme-gradient-primary-color),
    var(--theme-primary-color)
  );
}
